@import url('https://fonts.googleapis.com/css2?family=Ruthie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body{
    margin: 0;
    box-sizing: border-box;
    background-color: #0e0e0e;
}

a{
    text-decoration: none;
}

.wrapper{
    padding: 4em 2em;
    text-align: center;
}

.wrapper .box{
    box-shadow:inset 0 0 0 10px #0e0e0e;
}

.box{
    width: 300px;
    height: 460px;
    position: relative;
    background-color: rgba(255, 255, 255, 1);
    display: inline-block;
    margin: 10px 10px;
    cursor: pointer;
    color: #2c3e50;
    transition:  0.4s 0.5s;
}

.box:hover{
    background: rgba(255, 255, 255, 0);
    transition-delay: 0s;
}

.box svg{
    position: absolute;
    top: 0;
    left: 0;
}

.wrapper .box svg line{
    stroke-width: 8;
}

.box svg line{
    stroke-width: 3;
    stroke: #ecf0f9;
    fill: none;
    transition: all .8s ease-in-out;
}

.box svg line.top, .box svg line.bottom{
    stroke-dasharray: 330 240;
}

.box svg line.left, .box svg line.right{
    stroke-dasharray: 490 400;
}

.wrapper .box:hover svg line{
    stroke: #fe6f83;
}

.wrapper .box:nth-child(1):hover svg line{
    stroke: #f5df4d;
}

.wrapper .box:nth-child(2):hover svg line{
    stroke: #584df5;
}

.wrapper .box:nth-child(4):hover svg line{
    stroke: #00f7ff;
}
.wrapper .box:nth-child(5):hover svg line{
    stroke: rgb(255, 0, 242);
}

.box:hover svg line{
    transition-delay: 0.1s;
}

.box:hover svg line.top{
    transform: translateX(-600px);
}

.box:hover svg line.left{
    transform: translateY(920px);
}

.box:hover svg line.bottom{
    transform: translateX(600px);
}

.box:hover svg line.right{
    transform: translateY(-920px);
}

.box h3{
    font-family: 'Ruthie', cursive;
    font-size: 10rem;
    line-height: 370px;
    margin: 0;
    font-weight: 400;
    max-width: 100%;
}

.box span{
    font-family: 'Lato';
    display: block;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.99rem;
    padding: 5px;
}

.box h3, .box span{
    transition: color 0.4s 0.5s;
}

.wrapper .box:hover h3, .wrapper .box:hover span{
    color: #fe6f83;
}

.wrapper .box:nth-child(1):hover h3, .wrapper .box:nth-child(1):hover span{
    color: #f5df4d;
}

.wrapper .box:nth-child(2):hover h3, .wrapper .box:nth-child(2):hover span{
    color: #584df5;
}

.wrapper .box:nth-child(4):hover h3, .wrapper .box:nth-child(4):hover span{
    color: #00f7ff;
}
.wrapper .box:nth-child(5):hover h3, .wrapper .box:nth-child(5):hover span{
    color: rgb(255, 0, 242);
}

.box:hover h3, .box:hover span{
    transition-delay:0s ;
}